Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

RewriteRule ^assets/(.*)$ /web/assets/$1 [L]
RewriteRule ^css/(.*)$ /web/css/$1 [L]
RewriteRule ^js/(.*)$ /web/js/$1 [L]
RewriteRule ^img/(.*)$ /web/img/$1 [L]
RewriteRule ^(favicon.ico)$ /web/$1 [L]

RewriteRule (.*) /web/index.php/$1